# Backend
backend/target/
backend/.settings/
backend/.classpath
backend/.project
backend/.factorypath
backend/bin/
backend/src/main/resources/application.properties

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/

# IDE
.metadata/
.recommenders/
.vscode/
.idea/
*.iml
.DS_Store

# OS
Thumbs.db
